:host {
  font-family: "Archivo Variable", "Archivo", sans-serif;
}

header {
  letter-spacing: 0.05em;
  padding: 0.5rem 0;
  transition: all 0.3s ease-in-out;

  @media (min-width: 768px) {
    padding: 1.5rem 0;
    
    &.bg-white {
      padding: 1rem 0;
    }
  }
}

a {
  font-variation-settings: "wght" 400;
  transition: all 0.3s ease-in-out;
  
  &:hover {
    font-variation-settings: "wght" 500;
  }
}

.mobile-menu {
  transform-origin: top;
  transition: all 0.3s ease-in-out;
}
